@import "reset.css";
@import "grid.css";



/* ========== NAVBAR ============== */

.navbar {
    width: 100%;
    height: 70px;
    background: gray;
    margin: 0 auto;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    background: gray;
    color: white;
    padding: 18px 30px;
    margin: 8px 8px 0px;
    border: 1px solid whitesmoke;
}

.nav-item:hover {
    background: lightgrey;
}

/* ========== HEADER  ============== */

.parallax-head {
    background: url(https://images.unsplash.com/photo-1500402448245-d49c5229c564?auto=format&fit=crop&w=750&q=80);

    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    width: 50%;
    text-align: center;
    color: whitesmoke;
}

/* ========== ABOUT SECTION  ============== */

.about-g-wrapper { /* MOBILE FIRST GRID */ 
    width: 300px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px 0;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card {
    background: #F2F2F2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;

    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .thumb {
    height: 200px;
    background-position: center;
    background-size: cover;
    padding-bottom: 60%;
}

/* ========== SERVICES SECTION  ============== */


.parallax-services {
    background-image: url(https://images.unsplash.com/photo-1485841938031-1bf81239b815?auto=format&fit=crop&w=614&q=80);

    height: 315px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* ========== CONTACT SECTION  ============== */

.parallax-contact {
    background-image: url(https://images.unsplash.com/photo-1483348859713-48b1545a7927?auto=format&fit=crop&w=633&q=80);

    height: 740px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.contact-container {
    width: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin: 0 auto;
}

.contact-sub {
    margin-bottom: 20px;
}

input {
    /* display: block; */
    min-width: 100%;
    margin: 10px 0;
    background: rgba(250,250,250,0.7);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

textarea {
    /* display: block; */
    width: 100%;
    margin: 10px 0;
    background: rgba(250,250,250,0.7);
    border: none;
    border-radius: 5px;
    padding: 10px;
}