@import "reset.css";
@import "grid.css";

.navbar {
    width: 100%;
    height: 70px;
    background: gray;
    margin: 0 auto;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    background: gray;
    color: white;
    padding: 20px 30px;
    margin: 6px 8px 0px;
    border: 1px solid whitesmoke;
}

.nav-item:hover {
    background: lightgrey;
}

